*
{
    margin:0;
    padding:0;
}

html, body
{
    width:100%;
    height:100%;
}

#canvas
{
    display:block;
}

div div
{
    color:white;
    position:relative;
    font-size:1.2em;
}

div div p
{
    display: inline;
}

div a
{
    color:white;
    border:1px solid white;
    margin-top:10px;
    position:absolute;
    padding:4px;
}

#wrapper
{
    position: absolute;
    left:10px;
    top:10px;
}
